@font-face {
    font-family: 'Oxygen';
    src: url('fonts/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen-Light';
    src: url('fonts/Oxygen-Regular.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}


/* testing height for scroll purposes*/
html
{
    height: 1500px;
}

body
{
    font-family:'Oxygen', sans-serif;
    font-size:13px;

    background-color: rgb(235, 236, 228);
    color: rgb(138, 137, 133);
}

#title
{
    margin-top: 17px;
}
    #title a {
        margin: 0;
    }

    #title a:hover {
        color:rgb(222, 86, 53);
    }

.wrapper {
    font-family:'Oxygen',sans-serif;
    font-size:20px;
    font-weight:300;

    text-align: center;
}

a.wrapper {
    text-decoration:none;
    font-size:55px;
    letter-spacing: -3px;
    color: rgb(60, 52, 46);
}


#scrollup {
    background-image: url("images/circle-arrow_up.png");
    background-repeat: no-repeat;
    cursor: pointer;

    position: fixed;
    top: 50%;
    right: 48px;

    display: none;
    width: 40px;
    height: 40px;


    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    animation-duration: .7s;

    -webkit-animation-name: scrollFadeIn;
    -moz-animation-name: scrollFadeIn;
    animation-name: scrollFadeIn;

    z-index: 10;
}

/* Footer Styling */

#footer {
    position:absolute;
    bottom:0px;
    width:100%;
    overflow:hidden;

    height:30px;
    background: none repeat scroll 0% 0% rgb(60, 52, 46);
}

#footer_bar {
    color: rgb(255, 255, 255);
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity:0;
        -webkit-transform:translateX(-20px);
    }
    100% {
        opacity:1;
        -webkit-transform:translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0% {
        opacity:0;
        -moz-transform:translateX(-20px);
    }
    100% {
        opacity:1;
        -moz-transform:translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity:0;
        transform:translateX(-20px);
    }
    100% {
        opacity:1;
        transform:translateX(0);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translateY(-40px);
    }
    100% {
        opacity:1;
        -webkit-transform:translateY(0);
    }
}
@-moz-keyframes fadeInDown {
    0% {
        opacity:0;
        -moz-transform:translateY(-40px);
    }
    100% {
        opacity:1;
        -moz-transform:translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity:0;
        transform:translateY(-40px);
    }
    100% {
        opacity:1;
        transform:translateY(0);
    }
}

@-webkit-keyframes scrollFadeIn {
    0% {
        opacity:0;
        -webkit-transform:translateY(20px);
    }
    100% {
        opacity:0.7;
        -webkit-transform:translateY(0);
    }
}

@-moz-keyframes scrollFadeIn {
    0% {
        opacity:0;
        -webkit-transform:translateY(20px);
    }
    100% {
        opacity:0.7;
        -webkit-transform:translateY(0);
    }
}

@keyframes scrollFadeIn {
    0% {
        opacity:0;
        -webkit-transform:translateY(20px);
    }
    100% {
        opacity:0.7;
        -webkit-transform:translateY(0);
    }
}

@-webkit-keyframes fontShrink {
    0% {
        -webkit-transform:scale(1.0, 1.0);
        -webkit-transform:translateX(0);
    }
    /*
    50% {
        font-size: 100px;
    }
    */
    100% {
        -webkit-transform:scale(0.5, 0.5);
        -webkit-transform:translateX(-140px);
    }
}
