@-webkit-keyframes fadeInLeft {
    0% {
        opacity:0;
        -webkit-transform:translateX(-20px);
    }
    100% {
        opacity:1;
        -webkit-transform:translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0% { 
        opacity:0;
        -moz-transform:translateX(-20px);
    } 
    100% { 
        opacity:1;
        -moz-transform:translateX(0);
    }
}

@keyframes fadeInLeft { 
    0% {
        opacity:0;
        transform:translateX(-20px);
    } 
    100% {
        opacity:1; 
        transform:translateX(0);
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translateY(-40px);
    }
    100% {
        opacity:1;
        -webkit-transform:translateY(0);
    }
}
@-moz-keyframes fadeInDown {
    0% { 
        opacity:0;
        -moz-transform:translateY(-40px);
    } 
    100% { 
        opacity:1;
        -moz-transform:translateY(0);
    }
}

@keyframes fadeInDown { 
    0% {
        opacity:0;
        transform:translateY(-40px);
    } 
    100% {
        opacity:1; 
        transform:translateY(0);
    }
}

@-webkit-keyframes scrollFadeIn {
    0% {
        opacity:0;
        -webkit-transform:translateY(20px);
    } 
    100% {
        opacity:0.7;
        -webkit-transform:translateY(0);
    }
}

@-moz-keyframes scrollFadeIn {
    0% {
        opacity:0;
        -webkit-transform:translateY(20px);
    } 
    100% { 
        opacity:0.7;
        -webkit-transform:translateY(0);
    }
}

@keyframes scrollFadeIn {
    0% {
        opacity:0;
        -webkit-transform:translateY(20px);
    } 
    100% {
        opacity:0.7;
        -webkit-transform:translateY(0);
    }
}

@-webkit-keyframes fontShrink {
    0% {
        -webkit-transform:scale(1.0, 1.0);
        -webkit-transform:translateX(0);
    }
    /*
    50% {
        font-size: 100px;
    }
    */
    100% {
        -webkit-transform:scale(0.5, 0.5);
        -webkit-transform:translateX(-140px);
    }
}

.head_title {
    display: block;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-name: fontShrink;
    -moz-animation-name: fontShrink;
    animation-name: fontShrink;
}

.head_description {
    display:block;

    opacity:1;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

* {
    margin: 0px;
    padding: 0px;
}

/* testing height for scroll purposes*/
html
{
    height: 1500px;
}

.content_wrapper {
    font-family:'Oxygen', sans-serif;
    font-size:13px;

    background-color: rgb(235, 236, 228);
    color: rgb(138, 137, 133);
}

#header a:hover {
    color:rgb(222, 86, 53);
}

#logo {
    margin-top:-30px;
    padding-left: 10px;
}

.wrapper {
    font-family:'Oxygen',sans-serif;
    font-size:20px;
    font-weight:300;

    height:60px;
    text-align: center;
}

a.wrapper {
    text-decoration:none;
    font-size:130px;    
    letter-spacing: -10px;
    color: rgb(60, 52, 46);
}

/******* menu bar ***********/

#menu_bar {
    overflow: hidden;
    margin-bottom: 5px;

    height: 60px;
    background:none repeat scroll 0% 0% rgb(60, 52, 46);
}

    nav.fixedheader {
        display: none;

        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        animation-fill-mode: both;

        -webkit-animation-duration: 4s;
        -moz-animation-duration: 4s;
        animation-duration: 4s;

        -webkit-animation-name: scrollFadeDown;
        -moz-animation-name: scrollFadeDown;
        animation-name: scrollFadeDown;
    }

ul#menu {
    list-style:none;

    color: rgb(200, 200, 200);
}

/* styling the individual boxes */
#menu li {
    display:inline-block;
}

#menu a {
    display:block;
    padding: 0 30px;
    text-transform:uppercase;
    text-decoration: none;
    font-size:16px;

    color: rgb(255, 255, 255);
    line-height:60px;
}

#menu a:hover {
    background: rgb(80,70,72);
    color: rgb(255, 255, 255);

    -moz-box-shadow:    inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow: inset 0 0 15px #000000;
}

#menu .current {
    background: rgb(222, 86, 53);
}

#scrollup {
    background-image: url("images/circle-arrow_up.png");
    background-repeat: no-repeat;
    cursor: pointer;

    position: fixed;
    top: 50%;
    right: 48px;

    display: none;
    width: 40px;
    height: 40px;

    
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    animation-duration: .7s;

    -webkit-animation-name: scrollFadeIn;
    -moz-animation-name: scrollFadeIn;
    animation-name: scrollFadeIn;

    z-index: 10;
}

/* Footer Styling */

#footer {
    position:absolute;
    bottom:0px;
    width:100%;
    overflow:hidden;

    height:30px;
    background: none repeat scroll 0% 0% rgb(60, 52, 46);
}

#footer_bar {
    color: rgb(255, 255, 255);
}
