@import "variables";

@include keyframes(rotate) {
  0%  { transform: rotate(0deg); opacity:0; }
  40% { transform: rotate(10deg); opacity:0.5; }
  80% { transform: rotate(20deg); opacity:0.9; }
  100%{ transform: rotate(25deg); opacity:1; }
}



.m-social .social-list li:hover i:before {
  @include animation('rotate 0.5s ease-in-out');
}