/*search icon replacement in ie*/
.search-button, .search-button:link, .search-button:visited,
.search-button:hover, .search-button:active {
    position:relative;
    top:-22px;
    right:-205px;
}

/*fixes bottom of text being cut off
 this is due to line height*/
.section-title H2,
.section-title p.more {
    padding-bottom: 20px;
    margin-bottom: -20px;
}