/* redesign css */

#header
{
}
    /*
     * decorator 4 blue
     * shadow on header to mimic ucsdnews
     * z-index to show shadow
     */
    #header-wrapper {
      background: #2b92b9;
      box-shadow: 0 1px 2px #444;
      z-index: 9999;
    }

    /* give some padding so its not flush left */
    #ucsd-link {
      left: 20px;
    }

    /*
     * search box changes
     */
    #search {
      background: #2b92b9;
      border: 0;
      border-radius: 0;

      box-shadow: 0 1px 5px #0b435e;
    }

    .search-nav-button.active {
      background: #2b92b9;
    }
    #search-nav {
      background-color: #fff;
    }

    #search-content {
      background: #2b92b9;
    }
    .search-box {
      border-radius: 0;
    }

    .search-button, .search-button:link, .search-button:visited, .search-button:hover, .search-button:active {
      background: url(images/search-icon2.png);
      height:20px;
      width:20px;

      position: relative;
      right: 27px;
    }

    .search-box {
      width:90%;
    }

#sidebar-nav
{
}
    /* off-white ucsdnews uses */
    #nav-wrapper {
      background: #fafafa;
      height: 379px;
    }

    @media screen and (max-width: 768px) {
      #nav-feature {
        height: auto;
      }
    }

    /* rotator image to match height of nav-bar */
    #nav-feature {
      height: 380px;
    }

    /*
     * removing gradient
     * border same color
     * shift nav to eliminate whitespace
     */
    #nav-bar {
      background-color: #2b92b9;
      background-image: none;

      border: 6px solid #2b92b9;
      border-top: 0;
      top: -1px;
    }

    /*
     * border color similar to ucsdnews
     * removed top padding
     */

    #nav-list {
      padding: 0;
    }
        #nav-list li {
          border-bottom: solid 1px #2682a4;

          padding: 6px 0;
        }
            /* make subnav relatively inline with main nav li*/
            #nav-list li li {
              padding: 6px 0;
            }

    /* hover color aligning with ucsdnews */
    .sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
      background: #217190;

      background-image: url("images/menu-arrow_b.png");
      background-position: 250px;
      background-repeat: no-repeat;
    }

    /*
     * donation formatting in line with navbar
     */
    #nav-support {
      margin: 15px 0 0 0;
    }

    #nav-give {
      margin-top: 17px;
    }

#body
{
}
    /* off-white background ucsd-news */
    #home-body #content-wrapper {
      background: #fafafa;
    }

    #news, #events {
      background: #fafafa;
    }

    /* changing news and events styling */
    .section-title {
      margin: 12px 0 0;
      height: 50px;
      background: #ef7000;
    }
        .section-title p {
          padding-top: 11px;
        }
        /*
         * changing font color to match background
         * font size to mimic ucsdnews sectioned headers
         * padding left so its not flush with the background
         */
        .section-title h2 {
          color: #fafafa;
          font-size: 44px;
          padding: 0 20px;

          background: none;
          margin: 0;
          top: 27px;
        }

        /*
         * formatting of the arrow link
         * create a visual 1px border showing separation
         */
        .section-title p.more {
          text-align: center;
          float: right;

          height: 100%;
          width: 75px;

          font-size: 70px;
          border-left: 1px solid #fafafa;

          margin: 0;
        }

        /*
         * font color to match background
         * remove underline on link
         */
        .section-title p a {
          color: #fafafa;
          text-decoration: none;
        }

    /* increased font size and space between lines for better reading */
    .headline-news h3 {
      font-size: 20px;
      line-height: 1.4;
    }

    .event h3 {
      padding: 13px 0 0 0;
      font-size: 21px;
    }

#footer
{
}
    #footer-wrapper {
      background: #134052;
    }

    #footer-col1 li {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    #footer-col2 ul li, .footer-col ul li {
      line-height: 1.3;
    }

        #footer-col2 li a,
        .footer-col li a {
          line-height: 1.125rem;
          font-size: 13px;
        }

        #footer-col2 p, .footer-col p {
          line-height: 1.125rem;
        }

    /* footer header color orange */
    #footer-col2 h4, .footer-col h4 {
      color: #ef7000;
      font-size: 18px;
    }