.form-control {
    display: inline-block;
    width: 64%;
    float: right;
}

.form-group {
    text-align: right;
}

label {
    margin: 5px 15px 5px 0;
}

fieldset {
    margin: 0 0 10px;
    padding: 0;
}

legend {
    padding: 0;
    margin: 0 0 10px;
}

table.table{
    margin-bottom:0;
}
    table.table td input {
        width: 115px;
        padding-left: 10px;
    }

    table.table td.tbl-description input {
        width:100%;
    }


.drawer-wrapper {
    margin: 0;
}

.drawer
{
    width: 1050px;
    left: 129px;
    position: relative;
}
    .drawer h2 {
         text-align: center;
    }

        .drawer h2 a {
            background-position: 11px 6px;
        }

        .drawer h2.expand a {
            background-position: 11px -96px;
        }

    .drawer ul {
        padding-left: 13px;
        margin-top: 1em;
    }
        /* positioning of permanent template*/
        .drawer ul #permTempPosition {
            position:absolute;
            left: -122px;
        }
            /* size of sequence box */
            .drawer #permTempPosition select {
                width: 117px;
                padding: 6px
            }
        .drawer ul li {
            list-style: none;
            display: inline-block;
        }

    .drawer .form-control {
        width: 253px;
    }

    .drawer #permanentDescription {
        width: 1023px;
    }

#amountTotal {
    width: 1179px;
    height: 50px;

    background: #003145;
    color: #fff;
    font-size: 13px;
}
    #amountTotal ul {
        margin: 0 0 0 129px;
        padding: 0;

        line-height: 1;
    }
        #amountTotal ul li {
            width: 128px;
            padding: 19px 10px;

            list-style: none;
            display: inline-block;

            font-weight: 700;

            border-right:1px solid #fff;
        }

        #amountTotal ul li.amounts {
            text-align: center;
        }

            #amountTotal ul li:nth-child(8) {
                border: none;
            }