table.table
{
}
    table.table td input {
        width: 115px;
        padding-left: 10px;
    }

    table.table td.tbl-description input {
        width:100%;
    }

#amountTotal-wrapper
{
    margin: 30px 0 10px;
}