/* DETAIL SECTION */
/*css arrow right & down*/
.arrow-downright
{
    width: 0;
    height: 0;
    border: 6px solid transparent;

    /*default*/
    border-top: 6px solid rgb(51,51,51);

    /*positioning*/
    position: relative;
    left: 3px;
    top: -127px;
}

section #permanent-description-detail.hidden + .arrow-downright {
    top: -16px;
    border: 6px solid transparent;

    /*expanded down arrow*/
    border-left: 6px solid rgb(51,51,51);
    display: block !important;
    visibility: visible !important;
}

/*separate section to be added/copied/deleted */
section#detail-section-wrapper
{
    position: relative;
    margin-top: 80px;
}

    section .transactionLinks-right
    {
        float: right;
        position: relative;
        top: -10px;
    }
        section .transactionLinks-right a {
            color: rgb(43,146,185);

            background: none;
            display: inline-block;
            font-weight: 100;

            padding: 0 10px;
        }

    section table.table
    {
    }
        table.table td input {
            width: 115px;
            /*padding-left: 10px;*/
        }
        table.table td.tbl-description input {
            width:100%;
        }

    section #permanent-description-link
    {
        text-decoration: none;
        color: rgb(51,51,51);
        font-weight: 700;

        /*positioning for arrow*/
        margin-left: 20px;
    }

    section #permanent-description-detail
    {
    }
        /*align width of input boxes and center, fixes overflow on the sides*/
        section #permanent-description-detail .row {
            width: 100%;
            margin: 0 auto;
        }



#amountTotal-wrapper
{
    margin: 30px 0 10px;
}


/*minimize needless padding in bootstrap columns */
.col-sm-3
{
    padding: 2px 3px;
}
